################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Perfect Launcher/FileContentIndex/abf11af5-528d-4e61-9c60-686a328595a4.vsidx
/.vs/Perfect Launcher/FileContentIndex/b876ceba-6539-4179-86c4-638c99ab407a.vsidx
/.vs/Perfect Launcher/FileContentIndex/273a7c88-c57e-4ba3-8c21-ecaf2ad3a995.vsidx
